# Introduction

11 November 2015, Vilkoos

-

This notebook documents a data wrangling exercise. Three Excel files that are downloaded from the Internet are merged into one data frame and exported as an .csv file. An other notebook uses the data in the .csv file to do the actual data analysis (so here we only prepare data that will be used else).

-

Before running this notebook:
download the data in excel format from the [GapMinder](http://www.gapminder.org/data/) web site

- indicator life_expectancy_at_birth.xlsx
- Internet user per 100.xlsx
- indicator gapminder gdp_per_capita_ppp.xlsx

Put the .xlsx files in the same directory as this notebook.

-

The notebook now:

- reads each downloaded xlsx file is into a data frame.
- selects the country name and the relevant data of 2011 (or 2010) from each data frame.
- merges the three data frames into one.
- exports the resulting data frame as country_INC_LE_IR.csv

see appendix 1 below for a data dictionary of the exported data   
see appendix 2 below for a full listing of the exported data


-

# 1 - import libraries

In [4]:
from pandas import *
import csv


-

#2a - process 2011 life expectancy data

In [5]:
life0 = read_excel('indicator life_expectancy_at_birth.xlsx')
life0.head()

,Life expectancy with projections. Yellow is IHME,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,28.2110,28.200753,28.190507,28.18026,28.170013,28.159767,28.14952,28.139273,28.129027,...,53.2,53.6,54.0,54.5,54.8,55.2,55.5,56.2,56.91,57.63
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,35.4000,35.400000,35.400000,35.40000,35.400000,35.400000,35.40000,35.400000,35.400000,...,74.5,74.7,74.9,75.0,75.2,75.5,75.7,75.8,75.90,76.00
4,Algeria,28.8224,28.822400,28.822400,28.82240,28.822400,28.822400,28.82240,28.822400,28.822400,...,74.8,75.0,75.3,75.6,75.9,76.1,76.2,76.3,76.40,76.50

In [6]:
life0.columns

Index(['Life expectancy with projections. Yellow is IHME',
                                                     1800,
                                                     1801,
                                                     1802,
                                                     1803,
                                                     1804,
                                                     1805,
                                                     1806,
                                                     1807,
                                                     1808,
       ...
                                                     2006,
                                                     2007,
                                                     2008,
                                                     2009,
                                                     2010,
                                                     2011,
                                                     2012,
                                                     2013,
                                                     2014,
                                                     2015],
      dtype='object', length=217)

In [7]:
life0.columns[[0,212]]

Index(['Life expectancy with projections. Yellow is IHME', 2011], dtype='object')

In [8]:
select_columns = ['Life expectancy with projections. Yellow is IHME',2011]
life = life0[select_columns]
life = life.rename(columns={'Life expectancy with projections. Yellow is IHME':'country'})
life = life.rename(columns={2011:'LE'})
life.head()
#df2=df.rename(columns={â€˜old_columnnameâ€™:â€™new_columnnameâ€™})

                 country    LE
0               Abkhazia   NaN
1            Afghanistan  55.2
2  Akrotiri and Dhekelia   NaN
3                Albania  75.5
4                Algeria  76.1

# 2b - process 2010 internet use rate data

In [9]:
www0 = read_excel('Internet user per 100.xlsx')
www0.head()

,Internet users (per 100 people),1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.004092,0.079875,0.097164,1.130398,1.947423,1.751202,1.688485,3.246306,3.654114,4.58067
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,0,NaN,NaN,NaN,NaN,0.011169,0.032197,0.048594,0.065027,...,0.390081,0.971900,2.420388,6.043891,9.609991,15.036115,23.860000,41.200000,45.000000,49.00000
4,Algeria,0,NaN,NaN,NaN,0.000361,0.001769,0.001739,0.010268,0.020239,...,1.591641,2.195360,4.634475,5.843942,7.375985,9.451191,10.180000,11.230000,12.500000,14.00000

In [10]:
www0.columns

Index(['Internet users (per 100 people)', '1990', '1991', '1992', '1993',
       '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002',
       '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011'],
      dtype='object')

In [11]:
select_columns = ['Internet users (per 100 people)','2010']
www = www0[select_columns]
www = www.rename(columns={'Internet users (per 100 people)':'country'})
www = www.rename(columns={'2010':'IR'})
www.head()

                 country         IR
0               Abkhazia        NaN
1            Afghanistan   3.654114
2  Akrotiri and Dhekelia        NaN
3                Albania  45.000000
4                Algeria  12.500000

#2c - process 2010 GDP data

In [12]:
gdp0 = read_excel('indicator gapminder gdp_per_capita_ppp.xlsx')
gdp0.head()

,GDP per capita,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,603,603,603,603,603,603,603,603,603,...,1173,1298,1311,1548,1637,1695,1893,1884,1877,1925
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,667,667,668,668,668,668,668,668,668,...,7476,7977,8644,8994,9374,9640,9811,9961,10160,10620
4,Algeria,716,716,717,718,719,720,721,722,723,...,12088,12289,12314,12285,12494,12606,12779,12893,13179,13434

In [13]:
gdp0.columns

Index(['GDP per capita',             1800,             1801,             1802,
                   1803,             1804,             1805,             1806,
                   1807,             1808,
       ...
                   2006,             2007,             2008,             2009,
                   2010,             2011,             2012,             2013,
                   2014,             2015],
      dtype='object', length=217)

In [14]:
select_columns = ['GDP per capita',2010]
gdp = gdp0[select_columns]
gdp = gdp.rename(columns={'GDP per capita':'country'})
gdp = gdp.rename(columns={2010:'INC'})
gdp.head()

                 country    INC
0               Abkhazia    NaN
1            Afghanistan   1637
2  Akrotiri and Dhekelia    NaN
3                Albania   9374
4                Algeria  12494


-

# 3 - merge the data frames

In [15]:
data = merge(gdp, life, on='country', how='inner')
data = merge(data, www, on='country', how='inner')
data.head()

                 country    INC    LE         IR
0               Abkhazia    NaN   NaN        NaN
1            Afghanistan   1637  55.2   3.654114
2  Akrotiri and Dhekelia    NaN   NaN        NaN
3                Albania   9374  75.5  45.000000
4                Algeria  12494  76.1  12.500000

In [16]:
data['IR'] = data['IR'].round()
data['LE'] = data['LE'].round()
data.head()

                 country    INC  LE  IR
0               Abkhazia    NaN NaN NaN
1            Afghanistan   1637  55   4
2  Akrotiri and Dhekelia    NaN NaN NaN
3                Albania   9374  76  45
4                Algeria  12494  76  12

### check and remove missing data

In [17]:
data.shape

(260, 4)

In [18]:
data.isnull().sum()

country     0
INC        57
LE         72
IR         66
dtype: int64

In [19]:
data = data.dropna()
data.shape

(180, 4)

In [20]:
data.isnull().sum()

country    0
INC        0
LE         0
IR         0
dtype: int64


-

# 4 - export result as csv file

In [21]:
data.to_csv('country_INC_LE_IR.csv', index=False, quoting=csv.QUOTE_NONNUMERIC, quotechar='"' )


-

-

##References

[1] [oficial Pandas documentation](http://pandas.pydata.org/pandas-docs/version/0.17.0/index.html)

[2] [using-the-csv-module-in-python](http://www.pythonforbeginners.com/systems-programming/using-the-csv-module-in-python/)

[3] [Gapminder](http://www.gapminder.org/)


-

-

## APPENDIX 1 - data dictionary for country_INC_LE_IR.csv

The definitions and measurements of life expectancy and internet use rate can be found in the Gapminder site [3].  

**country**: the full name of a country as used by gapminder   

**income per person** (INC): 2010 Gross Domestic Product per capita in constant 2000 US$. The inflation but not the differences in the cost of living between countries has been taken into account.  

**life expectancy** (LE): 2011 life expectancy at birth (years) The average number of years a newborn child would live if current mortality patterns were to stay the same. **NOTE** rounded to whole years.  

**internet use rate** (IR): 2010 Internet users (per 100 people) Internet users are people with access to the worldwide network. **NOTE** rounded to integer.


-

-

## APPENDIX 2 - the data in country_INC_LE_IR.csv

In [22]:
set_option('display.max_rows', len(data))
data

                            country     INC  LE  IR
1                       Afghanistan    1637  55   4
3                           Albania    9374  76  45
4                           Algeria   12494  76  12
6                           Andorra   38982  84  81
7                            Angola    7047  60  10
9               Antigua and Barbuda   20567  75  80
10                        Argentina   15765  76  40
13                        Australia   41330  82  76
14                          Austria   42861  81  75
15                       Azerbaijan   15950  72  47
16                          Bahamas   22915  72  43
17                          Bahrain   40553  78  55
18                       Bangladesh    2459  69   4
19                         Barbados   15297  76  70
20                          Belarus   15703  70  32
21                          Belgium   40764  80  74
22                           Belize    8209  70  13
23                            Benin    1637  64   3
25                           Bhutan    6516  69  14
26                          Bolivia    5279  72  22
27           Bosnia and Herzegovina    9145  77  52
28                         Botswana   13642  66   6
29                           Brazil   14660  74  41
31                           Brunei   70636  79  53
32                         Bulgaria   14886  74  46
33                     Burkina Faso    1431  61   2
34                          Burundi     725  59   1
35                         Cambodia    2513  67   1
36                         Cameroon    2571  58   4
37                           Canada   40773  81  80
38                       Cape Verde    6005  74  30
40         Central African Republic     901  52   2
41                             Chad    1953  56   2
43                            Chile   19204  79  45
44                            China    9430  76  34
47                         Colombia   10777  75  36
48                          Comoros    1426  63   5
49                 Congo, Dem. Rep.     632  57   1
50                      Congo, Rep.    5533  61   5
52                       Costa Rica   12322  80  36
53                    Cote d'Ivoire    2892  58   2
54                          Croatia   19989  78  60
55                             Cuba   18477  78  16
56                           Cyprus   33747  82  53
57                   Czech Republic   28111  78  69
59                          Denmark   42997  80  89
60                         Djibouti    2665  62   6
61                         Dominica   10375  74  47
62               Dominican Republic   11075  73  31
64                          Ecuador    9311  74  29
65                            Egypt   10615  70  30
66                      El Salvador    7237  74  16
67                Equatorial Guinea   34431  57   6
68                          Eritrea    1083  61   5
70                          Estonia   21710  76  74
71                         Ethiopia    1081  62   1
74                             Fiji    7098  66  20
75                          Finland   39425  80  87
76                           France   36745  81  77
79                            Gabon   15982  58   7
80                           Gambia    1667  64   9
81                          Georgia    5938  73  26
82                          Germany   40632  80  83
83                            Ghana    3091  64  10
85                           Greece   29190  80  45
87                          Grenada   11178  71  33
90                        Guatemala    6849  71  10
92                           Guinea    1185  60   1
93                    Guinea-Bissau    1368  52   2
94                           Guyana    5542  64  30
95                            Haiti    1518  63   8
97                         Honduras    4270  72  11
99                          Hungary   22062  75  53
100                         Iceland   38809  83  96
101                           India    4547  66   8
102                       Indonesia    8498  70  11
103                            Iran   16980  78  16
104                            Iraq   12330  71   2
105                         Ireland   43860  80  70
107                          Israel   29509  82  66
108                           Italy   35753  82  54
109                         Jamaica    8370  76  28
110                           Japan   34404  83  78
112                          Jordan   11256  78  28
113                      Kazakhstan   19601  67  31
114                           Kenya    2503  64  14
115                        Kiribati    1729  62   9
117                     South Korea   30440  80  82
120                          Kuwait   75365  80  61
121                 Kyrgyz Republic    2790  68  18
122                             Lao    3901  65   7
123                          Latvia   18148  75  69
124                         Lebanon   16263  76  44
125                         Lesotho    2235  48   4
126                         Liberia     689  62   2
127                           Libya   30261  68  14
129                       Lithuania   20758  74  63
130                      Luxembourg   91147  81  91
132                  Macedonia, FYR   11179  76  52
133                      Madagascar    1390  64   2
134                          Malawi     737  55   2
135                        Malaysia   20398  74  56
136                        Maldives   11674  79  28
137                            Mali    1664  57   2
138                           Malta   27906  82  63
141                      Mauritania    3299  64   4
142                       Mauritius   15599  73  29
144                          Mexico   15460  76  31
145           Micronesia, Fed. Sts.    3337  66  20
146                         Moldova    3925  71  32
148                        Mongolia    7708  64  13
149                      Montenegro   13656  75  38
151                         Morocco    6466  74  49
152                      Mozambique     930  56   4
153                         Myanmar    3077  66   0
154                         Namibia    8433  60  12
156                           Nepal    1999  70   8
157                     Netherlands   45843  81  91
160                     New Zealand   31824  81  83
162                       Nicaragua    3966  76  10
163                           Niger     841  61   1
164                         Nigeria    5114  59  24
169                          Norway   62946  81  93
170                            Oman   49188  75  62
171                        Pakistan    4220  65   8
173                          Panama   14921  77  40
174                Papua New Guinea    2163  59   1
175                        Paraguay    7008  74  20
176                            Peru    9915  77  35
177                     Philippines    5614  70  25
179                          Poland   21328  76  62
180                        Portugal   27393  80  51
182                           Qatar  127984  82  82
184                         Romania   16888  75  40
185                          Russia   21664  69  43
186                          Rwanda    1262  64   8
190                       St. Lucia   10515  74  40
192  St. Vincent and the Grenadines    9935  72  38
194                           Samoa    5405  72   7
196           Sao Tome and Principe    2743  68  19
197                    Saudi Arabia   45598  78  41
198                         Senegal    2182  65  16
199                          Serbia   12301  77  46
202                      Seychelles   20364  73  41
204                       Singapore   72056  82  71
205                 Slovak Republic   24438  76  76
206                        Slovenia   28377  80  69
207                 Solomon Islands    1787  63   5
210                    South Africa   12087  58  18
212                           Spain   32994  82  66
213                       Sri Lanka    7572  76  12
215                        Suriname   14325  70  32
217                       Swaziland    5862  49  12
218                          Sweden   42898  82  90
219                     Switzerland   54183  82  82
220                           Syria    6603  75  21
222                      Tajikistan    2110  70  12
223                        Tanzania    2143  61  11
224                        Thailand   12822  75  22
225                     Timor-Leste    1777  70   0
226                            Togo    1246  62   3
228                           Tonga    4945  70  16
230             Trinidad and Tobago   29321  71  48
231                         Tunisia   10411  77  37
232                          Turkey   16674  76  40
233                    Turkmenistan   10032  67   3
236                          Uganda    1515  59  12
237                         Ukraine    7844  71  23
238            United Arab Emirates   56644  76  68
239                  United Kingdom   36240  80  78
240                   United States   49373  79  74
241                         Uruguay   17095  77  47
243                      Uzbekistan    4185  69  19
245                         Vanuatu    2948  64   8
246                       Venezuela   16536  75  38
247              West Bank and Gaza    4163  74  43
250                         Vietnam    4486  76  31
254                           Yemen    4534  66  12
256                          Zambia    3451  55  10
257                        Zimbabwe    1484  52  12